<div class="page">
  <div class="content">
    <app-navbar></app-navbar>
    <div class="info" *ngIf="lang_key == 'en'">
      <div class="text_info">
        <h2>See NAHIDH in action</h2>
        <p>
          Learn how NAHIDH has accelerated project management by streamlining
          tools technical, financial, and administrative control and follow-up
          in a single application. This demo shows how to use NAHIDH throughout
          the lifecycle of a project.
        </p>
      </div>
      <div class="img_info">
        <img src="../../../assets/imgs/scott-graham-5f.png" alt="" />
      </div>
    </div>
    <div class="info ar" *ngIf="lang_key == 'ar'">
      <div class="text_info">
        <h2>ناهض في العمل</h2>
        <p>
          ناهض في العمل تعرف على كيفية قيام ناهض بتسريع إدارة المشاريع من خلال
          تبسيط أدوات الرقابة الفنية والمالية والإدارية والمتابعة في مكان واحد
          في هذا العرض التوضيحي نبين كيفية استخدام ناهض خلال مدة المشروع.
        </p>
      </div>
      <div class="img_info">
        <img src="../../../assets/imgs/scott-graham-5f.png" alt="" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
